.parent {
  display: flex;
  justify-content: space-around;
}

.child1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
}

table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  border-collapse: collapse;
}
.display td:nth-child(1) {
  background-color: rgb(218, 204, 204);
}

.display-btn {
  padding: 5px;
}
